@import "tailwindcss";

@source "../../../../../multirepo-nx-mf-dyn-modfed-rem-b/nxdmfmf-remote-b-workspace/apps/nxdmfmf-remote-b/src";

:root {
  --color-header-bg: #1e293b;
  --color-header-text: #e2e8f0;
  --color-accent-cyan: #22d3ee;
  --color-accent-pink: #ec4899;
  --color-accent-purple: #a855f7;
  --color-accent-yellow: #fbbf24;
  --color-card-bg: #ccfbf1;
  --radius-md: 8px;
}

html {
  height: 100dvh;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
